@import "tailwindcss";


@theme {
  --breakpoint-size360: 360px;
  --breakpoint-size750: 750px;
  --breakpoint-size1000: 1000px;
  --breakpoint-size1280: 1280px;

}


@font-face {
  font-family: 'Qahiri';
  src: url('/fonts/Qahiri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'poppins';
  src: url('/public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url('/public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.custom-qahiri {
  font-family: 'Qahiri', sans-serif;
}

.custom-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.custom-medium {
  font-family: 'medium', sans-serif;
}


h1 {
  font-family: 'Qahiri', sans-serif;
}

p {
  font-family: 'poppins', sans-serif;
}

h5 {
  font-family: 'medium';
}


::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custombutton {
  font-family: 'poppins', sans-serif;
  @apply text-white text-[12px] rounded-[40px] py-[10px] px-[20px] cursor-pointer;
}


.customInput {
  font-family: 'poppins', sans-serif;
  @apply w-full max-w-[290px] h-[48px] rounded-[40px] py-[10px] px-5  bg-[#F9F9F9]  text-black text-[12px] outline-none transition
}