@import "tailwindcss";

@font-face {
  font-family: 'Qahiri';
  src: url('/fonts/Qahiri-Regular.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
h1 {
  font-family: 'Qahiri', sans-serif;
}
